@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF6370;
  --secondary-color: #2281B8;
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #00afef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  @apply rounded-lg shadow-md;
}

form {
  display: flex;
  flex-direction: column;
  @apply space-y-4;
}

form label {
  margin: 10px 0 5px;
  @apply text-lg font-medium;
}

form input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  @apply rounded-lg shadow-sm;
}

button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  @apply rounded-lg shadow-md;
}

button:hover {
  background-color: #008cbf;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  form {
    width: 100%;
  }

  button {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
